html {
  font-size: 17px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.form__fieldset {
  padding: 40px 20px;
}

.form__fieldset:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form__input {
  font-size: 1rem;
}

.form__select {
  padding: 4px 2px;
}

.form__label {
  margin-right: 20px;
}

.form__submit {
  padding: 8px 16px;
  background-color: unset;
  border: 2px solid #1c2023;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.form__submit:hover {
  background-color: #1c2023;
  color: white;
}
